.seatreg-tabs-content .management-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	text-transform: uppercase;
	font-size: 20px;
	min-height: 42px;
	
	padding: 6px;
    padding-bottom: 16px;

	.pending-bookings-count{
		color: #E0635D;
	}
	.management-extra-actions {
		text-transform: none;

		.add-booking {
			cursor: pointer;
			.fa-plus-circle {
				color: #61B329;
			}
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}	
}