#seatreg-settings-form {
    .current-custom-payment-icon {
        display: flex;
        align-items: center;
        
        &__img {
            height: 74px;
            margin-right: 12px;
        }
        &__delete {
            cursor: pointer;
            color: red;
        }
        &__loading {
            display: none;
        }
    }
}