.seatreg-wp-admin .seatreg-update-notice {
    position: absolute;
    right: 15px;
    bottom: 100%;
    margin-bottom: 10px;
    font-size: 13px;

    @media screen and (max-width: 960px) {
        position: static;
        align-self: flex-end;
    }
}
