@import "modal/edit-booking";
@import "modal/add-booking";
@import "modal/booking-activity";
@import "loaders/booking-manager";
@import "headers/management-header";
@import "components/reg-more-items";

html {
	font-size: 100%;
}
.index-icon {
    margin-right: 10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.seatreg-wp-admin .btn-primary {
	color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.seatreg-wp-admin .btn-primary:hover, .seatreg-wp-admin .btn-primary:active{
	background-color: #3276b1;
    border-color: #285e8e;
}
.seatreg-wp-admin input[type=checkbox]:focus {
	outline: none;
}
.seatreg-wp-admin {
	font-family: 'Open Sans', sans-serif;
}
.seatreg-wp-admin .jumbotron {
	background-image: url(../img/chairs_med.jpg);
    background-size: cover;
	margin-left: -20px;
	margin-bottom: 0;
}
.seatreg-wp-admin .donate-wrap {
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 0 15px;
	text-align: right;
}
.seatreg-wp-admin .your-registrations-header {
	margin-top: 28px;
	margin-bottom: 24px;
}

.seatreg-wp-admin .nav-tab:first-of-type {
	margin-left: 0;
}
.seatreg-wp-admin .nav-tab {
	background: #F2F2F2;
}
.seatreg-wp-admin .nav-tab.nav-tab-active {
	text-decoration: underline;
}
.new-reg-title {
	margin-bottom: 24px;
}
.seatreg-wp-admin .jumbotron .main-heading {
	font-size: 38px;
    font-weight: 600;
}
.seatreg-wp-admin .jumbotron .jumbotron-text {
	font-size: 21px;
    font-weight: 600;
}
.seatreg-wp-admin .nav-tabs {
	margin-top: 40px;
}
.seatreg-tabs-content {
	background-color: #F2F2F2;
	padding: 24px;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
}
.seatreg-tabs-content .etabs { margin: 0; padding: 0; background-color: #F2F2F2; padding-bottom: 6px}
.seatreg-tabs-content .tab { display: inline-block;margin-right:2px; padding: 6px 6px; zoom:1; *display:inline;background: #fff; }
.seatreg-tabs-content .tab a { font-size: 16px; line-height: 2em; display: block; padding: 0 30px; outline: none; text-decoration: none; color: #000;}
.seatreg-tabs-content .tab a:hover { text-decoration: underline; }
.seatreg-tabs-content .tab.active { background: #404040; position: relative;}
.seatreg-tabs-content .tab a.active { font-weight: bold; color: #fff;}
.seatreg-tabs-content .tab-container .panel-container {  overflow: hidden; }
.seatreg-tabs-content .panel-container {  }


.seatreg-tabs-content .form-group {
	margin-bottom: 25px;
}

.seatreg-tabs-content #admin-wrapper {
	width: 960px;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
}
.seatreg-tabs-content #my-regs {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.seatreg-tabs-content #server-response-text {
	font-size: 20px;
}
.seatreg-tabs-content .log-out-btn {
	display: block;
	float:right;
	text-decoration: none;
	width: 150px;
	height: 33px;
	line-height: 33px;
	font-size: 18px;
}
.seatreg-tabs-content .log-out-btn .l-pic {
	float: left;
	background: url(sprites.png) no-repeat;
	background-position: -5px -388px ;
	width: 32px;
	height: 33px;
	padding-right: 10px;
}

.seatreg-tabs-content .reg-section {
	overflow: hidden;
	min-height: 608px;
}

.seatreg-tabs-content .reg-overview-middle-wrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.seatreg-tabs-content .reg-overview-top {
	padding-bottom: 20px;
	overflow: hidden;
}

.seatreg-tabs-content .reg-overview-aside {
	width: 220px;
	float: left;
	padding-right: 20px;
	text-overflow: ellipsis;
	min-height: 180px;
	margin-bottom: 20px;
	position: relative;
	
	overflow: auto;
	
	
}
.seatreg-tabs-content .room-list {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
.seatreg-tabs-content .room-list-active {
	color: #F47A37;
}
.seatreg-tabs-content .room-list-item {
	margin-bottom: 2px;
	font-size: 18px;
}
.seatreg-tabs-content .first-item {
	margin-bottom: 6px;
	font-size: 20px;
	text-transform: uppercase;
}
.seatreg-tabs-content .room-list-item:hover {
	cursor: pointer;
	color: #F47A37;
}
.seatreg-tabs-content .room-list-item-active {
	
}

.seatreg-tabs-content .reg-overview-top-header {
	font-size: 24px;
	font-weight: bold;
	float: left;
	min-width: 200px;
	height:50px;
	line-height: 50px;
	margin-right: 10px;
	display: none;

}
.seatreg-tabs-content .reg-overview-top-header:first-letter {
	text-transform: capitalize;
}

.seatreg-tabs-content .reg-overview-top-bron-notify {
	color: #ea6060;
	font-size: 14px;
	float: left;
	height:50px;
	line-height: 50px;


}
.seatreg-tabs-content .reg-overview-middle {
	
	float: left;
	width: 640px;
	margin-bottom: 30px;
	margin-left: 40px;
}
.seatreg-tabs-content .overview-middle-box {
	float: left;
	margin-right: 60px;
}
.seatreg-tabs-content .overview-middle-box-stat{
	font-size: 38px;
} 
.seatreg-tabs-content .overview-last-box {
	margin-right: 0;
}
.seatreg-tabs-content .reg-overview-bottom {
	background-color: #404040;
	padding: 20px;
	clear: both;
	margin-top: 20px;
}
.seatreg-tabs-content .reg-link {
	display: inline-block;
	width: 500px;
	background-color: #fff;
	padding: 10px;
	text-decoration: none;
	color: #000;
	margin-bottom: 20px;
}
.seatreg-tabs-content .ov-bottom-h {
	color: #fff;
	font-size: 18px;
	padding:0;
	margin-top: 0;
	margin-bottom: 20px;
	
}
.seatreg-tabs-content .ov-bottom-h-2 {
	color: #fff;
	font-size: 14px;
	padding:0;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	padding-left: 10px;
}
.seatreg-tabs-content .ov-bottom-h-3 {
	color: #fff;
	font-size: 14px;
	padding:0;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	padding-left: 10px;
}

.seatreg-tabs-content .ov-bottom-h-2:hover, .seatreg-tabs-content .ov-bottom-h-3:hover{
	color: #fff;
	text-decoration: underline;
}

.seatreg-tabs-content .copy-link-btn {
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	font-weight: 600;
}

.seatreg-tabs-content .overview-middle-box-stat {
	color: orange;
	font-size: 36px;
}
.seatreg-tabs-content .stats-doughnut {
	margin-left: 40px;
}
.seatreg-tabs-content .stats-doughnut-legend {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	min-width: 160px;
}
.seatreg-tabs-content .legend-block {
	margin-top: 10px;
}
.seatreg-tabs-content .doughnut-legend {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 12px;
	vertical-align: bottom;

}
.seatreg-tabs-content .legend-block-percent {
	float: right;
}
.seatreg-tabs-content .reg-overview-top-date {
	float: right;
	line-height: 50px;
}


/*registrations manager*/
.seatreg-tabs-content .tab_container {
	overflow: visible !important;
}

.seatreg-tabs-content .first-reg-section .tab_container:before {
	display: block; 
	content: " "; 
	margin-top: -240px; 
	height: 240px; 
	visibility: hidden; 
}

.seatreg-tabs-content .tab_container:before {
	display: block; 
	content: " "; 
	margin-top: -170px; 
	height: 170px; 
	visibility: hidden; 
}

.seatreg-tabs-content .time-block {
	margin-bottom: 6px;
	margin-left: 10px;
}

.seatreg-tabs-content .registration-manager-labels {
	padding: 16px;
	border-bottom: 3px solid #F0F0F0;
	background-color: #fff;
}

.seatreg-tabs-content .reg-seat-item {
	border-bottom: 3px solid #F0F0F0;
	font-size: 14px;
	padding: 16px;
	background-color: #fff;
	overflow: hidden;
}
.seatreg-tabs-content .seat-nr-box {
	width: 60px;
}
.seatreg-tabs-content .seat-id-box {
	margin-right: 30px;
}
.seatreg-tabs-content .seat-room-box { 
	width: 140px;
	text-align: center;
}

.seatreg-tabs-content .seat-name-box {
	width: 140px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	
}
.date-box {
	
}
.seatreg-tabs-content .border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
}
.seatreg-tabs-content .seat-date-box {
	width: 140px;
	text-align: center;
	

}
.seatreg-tabs-content .action-select {
	float: right;
}
.seatreg-tabs-content .action-select label {
	margin-left: 10px;
}

.seatreg-tabs-content .show-more-info {
	margin-right: 10px;
}
.seatreg-tabs-content .differentBgColor {
	background-color: #F2F2F2;
}

.seatreg-tabs-content .manager-box {
	display: inline-block;
}
.seatreg-tabs-content .reg-seat-item .booking-id-box {
	min-width: 340px;
}
.seatreg-tabs-content .manager-box-link:hover {
	cursor: pointer;
	text-decoration: underline;
}
.seatreg-tabs-content #existing-regs {
	position: relative;
}

.seatreg-tabs-content .seat-date-label {
	margin-right: 60px;
}
.seatreg-tabs-content .reg-name {
	font-size: 30px;
	word-wrap: break-word;
	
}

.seatreg-tabs-content .account-status {
	text-align: right;
	margin-top: 10px;
	margin-bottom: -50px;
	font-weight: 600;
}

.seatreg-tabs-content .more-info {
	display: none;
	padding-top: 10px;
}

.seatreg-tabs-content .action-control {
	background-color: #404040;
	text-align: center;
	width: 100px;
	float: right;
	cursor: pointer;
	color:#fff;
	padding: 4px 0;
	margin-top: 24px;
}

.seatreg-settings-form .checkbox label{
	font-size: 14px;
}

.seatreg-tabs-content .settings-heading {
	margin-top: 0;
	margin-bottom: 24px;
}

.seatreg-tabs-content .action-select .bron-action {
	margin-left: 4px;
	cursor: pointer;
	margin-top: 0;
}

.seatreg-tabs-content .action-control:hover {
	text-decoration: underline;
}
.seatreg-tabs-content .action-label {
	cursor: pointer;
}

.seatreg-tabs-content .reg-section-buttons {
	width: 160px;
	float: left;
}

.seatreg-tabs-content .admin-right-side {
	width: 900px;
	margin-right: 5px;
	float: right;
	position: relative;
	background-color: #fff;
}

.seatreg-tabs-content .notify-text {
	text-align: center;
	margin-top: 24px;
	font-size: 20px;
}

.seatreg-tabs-content .action-select label {
	margin-bottom: 0;
}

/*buttons*/

.seatreg-delete-registration-form .delete-registration-btn, .seatreg-delete-registration-form .delete-registration-btn:active, .seatreg-delete-registration-form .delete-registration-btn:focus, .seatreg-delete-registration-form .delete-registration-btn:hover {
	padding: 24px;
	min-height: auto;
	line-height: normal;
	border: 1px solid #ccc;
	box-shadow: none;
	background: #fff;
	font-size: 16px;
	color: red;
}
.seatreg-delete-registration-form .delete-registration-btn:hover {
	box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.52);
}

.change-name-wrap {
	margin-bottom: 8px;
}

.seatreg-tabs-content .f-pic {
	width: 41px;
	height: 41px;
	background: url(sprites.png) no-repeat;
}

.seatreg-tabs-content .a-build-btn {
	margin:0;
	padding:0;
	border: 0;

}
.seatreg-tabs-content .del-reg {
	margin:0;
	padding:0;
	border: 0;
	display: block;
	width: 100%;
	background-color: #404040;
	color: #fff;
	height: 40px;
	width: 160px;
	margin-top: 20px;
}
.seatreg-tabs-content .del-reg:hover {
	text-decoration: underline;
	color:red;

}
.seatreg-tabs-content .del-reg:focus {
	
	outline: none;
}

.seatreg-tabs-content .btn-style {
	
	background-color: #404040;
	color: #fff;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;

}
.seatreg-tabs-content .btn-style:hover {
	text-decoration: underline;
}
.seatreg-tabs-content .btn-style-active {
	
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}

.seatreg-tabs-content .a-build-btn .f-pic {
	float: left;
	background-position: -3px -336px ;
}
.seatreg-tabs-content .a-stats-btn {
	border-bottom: 1px solid #e1e5e7;
}
.seatreg-tabs-content .a-manage-btn {
	
	border-bottom: 1px solid #e1e5e7;
}
.seatreg-tabs-content .a-manage-btn .f-pic {
	float: left;
	background-position: -52px -335px ;
}
.seatreg-tabs-content .adr-btn {
	margin:4px;
	padding:4px;
	width: 140px;
	height: 54px;
	line-height: 42px;
}
.seatreg-tabs-content .adr-btn .f-pic {
	float: left;
	background-position: -105px -334px ;
}
.seatreg-tabs-content .a-opt-btn{
	margin:4px;
	padding:4px;
	width: 140px;
	height: 54px;
	line-height: 42px;
}
.seatreg-tabs-content .option-box {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.seatreg-tabs-content .setting-box {
	width: 98%;
	margin: 0 auto;
	padding: 0 1%;
	border-top: 1px solid black;
}
.seatreg-tabs-content .a-opt-btn .f-pic {
	float: left;
	background-position: -154px -332px ;
}

.seatreg-tabs-content .del-reg-form {
	
	text-align: center;

	
}
.seatreg-tabs-content .del-reg-form:active, .seatreg-tabs-content .del-reg-form:focus {
	border: none;
} 

.seatreg-tabs-content .del-reg .f-pic {
	float: left;
	background-position: -203px -331px ;
}

.seatreg-tabs-content .a-options-btn {
	border-bottom: 1px solid #e1e5e7;
}
.seatreg-tabs-content .info-box {
	margin-bottom: 20px;
	
}

.seatreg-tabs-content .option-checkbox {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 0 !important; 

}


.seatreg-tabs-content .select-radio-create {
	display: none;
}

.seatreg-tabs-content .remove-sel-item {
	vertical-align: middle;
}
.seatreg-tabs-content .reg-status-box {
	
}
.seatreg-tabs-content .custom-container {
	margin-bottom: 4px;
	margin-left: 24px;
}
.seatreg-tabs-content .existing-custom-fields{
	margin-left: 24px;
}
.seatreg-tabs-content .payment-configuration {
	margin-top: 12px;
	margin-left: 24px;
}

.seatreg-tabs-content .custom-container input[type=checkbox] {
	margin-top: 0;
}

.seatreg-tabs-content .remove-cust-item {
	cursor: pointer;
	color: red;
	margin-left: 6px;
}
.seatreg-tabs-content .cust-field-create {
	margin-top: 10px;
	margin-left: 24px;
}
.seatreg-tabs-content .select-radio-create {
	margin-bottom: 12px;
}
.seatreg-tabs-content .seatreg-settings-form input[type="text"], .seatreg-tabs-content .seatreg-settings-form input[type="number"] {
	height: 32px;
	font-size: 14px;
}
.seatreg-tabs-content .seatreg-settings-form textarea {
	font-size: 14px;
}
.seatreg-tabs-content .cust-field-create label {
	font-size: 14px;
}

.seatreg-tabs-content .cust-field-create .btn {
	margin-bottom: .5rem;
}
.seatreg-tabs-content .select-option {
	margin-bottom: 6px;
}

.seatreg-tabs-content .cust-input-label {
	margin-right: 10px;
	width: 140px;
}
.seatreg-tabs-content .custom-field-select {
	margin-right: 10px;
}
.seatreg-tabs-content .manager-search-wrap {
	width: 200px;
	margin-top: 6px;
	float: right;
}
.seatreg-tabs-content .manager-search:focus {
	box-shadow: none;
}

.seatreg-tabs-content .option-input {
	width: 170px;
	margin: 10px 10px 20px 0; 
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.seatreg-tabs-content .option-label {
	font-size: 16px;
	

}
.seatreg-tabs-content .l-text {
	margin-right: 10px;
	font-size: 14px;
}

.seatreg-tabs-content .option-btn {

}
.seatreg-tabs-content .edit-btn {
	cursor: pointer;
}

.seatreg-tabs-content .create-new-registration-wrapper {
	margin-top: 20px; 
	margin-bottom: 20px;
	font-weight: bold;
	
}

.seatreg-tabs-content .admin-btn-from {
	border-bottom: 1px solid #e1e5e7;
}

.seatreg-tabs-content .room-list-item[data-active="true"] {
	color: orange;
}

.seatreg-tabs-content .file-type-link {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 18px;
	color: black;
}

.seatreg-map-popup-btn {
	color: rgb(66, 139, 202);
	font-size: 14px;
}
.seatreg-map-popup-btn, .seatreg-delete-btn {
	padding: 0;

}
.seatreg-wp-admin .registration-name-link {
	color: rgb(51, 51, 51);
	font-size: 18px;
}
.seatreg-registrations {
	display: flex;
	flex-wrap: wrap;
}
.seatreg-registrations a {
	color: rgb(66, 139, 202);
	font-size: 14px;
}

.seatreg_page_seatreg-management .booking-status-check-wrap input[type=checkbox] {
	margin-top: 0;
	margin-left: 6px;
}

.seatreg-wp-admin .search-button {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.seatreg-wp-admin .payment-log-wrap {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 40px 140px 1fr;
	color: forestgreen;
}

.seatreg-wp-admin .payment-log-wrap .error-log {
	color: red;
}

.seatreg-wp-admin .payment-log-wrap .info-log {
	color: blue;
}

@media screen and (max-width: 1199px) {
	.seatreg-tabs-content #my-regs {
		width: 970px;
		padding: 0 15px;
	}
	.seatreg-tabs-content .admin-right-side {
		width: 700px;
		
	}
	.seatreg-tabs-content .admin-right-side {
		margin-right: 5px;
	}
	.seatreg-tabs-content .reg-overview-middle {
		width: 440px;

	}
	.seatreg-tabs-content .overview-middle-box {
		margin-right: 30px;
	}
	.seatreg-tabs-content .action-select {
		margin-top: 10px;
		text-align: right;
		float: right;
	}
	.seatreg-tabs-content .bg-color {
		padding-top: 80px;
		background-color: #F2F2F2;
	}

}
@media screen and (max-width: 800px) {
	.seatreg-tabs-content .manager-box {
		display: block;
		text-align: left;
	}
	.seatreg-tabs-content .action-select {
		margin-top: 0;
	}
	.seatreg-tabs-content .file-type-link {
		position: absolute;
		top: 0;
		margin: 0;
	}
	.seatreg-tabs-content .pdf-link {
		right: 0;
	}
	.seatreg-tabs-content .text-link {
		right: 150px;
	}
	.seatreg-tabs-content .xlsx-link {
		right: 70px;
	}
	.seatreg-tabs-content .manager-search-wrap {
		margin-top: 40px;
	}
	.seatreg-tabs-content .action-select {
		float: none;
		text-align: right;
		display: block;
		margin-top: 10px;
	}
	
}


@media screen and (max-width: 992px) {

	.seatreg-tabs-content .reg-section-buttons {
		width: 20%;
	}
	.seatreg-tabs-content .reg-overview-middle-wrap {
		display: block;
	}

    .seatreg-tabs-content #my-regs {
    	width: auto;
    }
    
    .seatreg-tabs-content .reg-overview-aside {
    	width: 40%;
    	min-height: none;
    	max-height: none;
    }
    
    .seatreg-tabs-content .admin-right-side {
    	width: 76%;
    	
    }
   
    .seatreg-tabs-content .reg-overview {
		width: 100%;
	}
	
	.seatreg-tabs-content .admin-right-side {
		width: 70%;
		margin:0;


	}
	.seatreg-tabs-content .reg-overview-aside {
		float: none;
		width: 100%;
		max-height: none;
		min-height: 0;
		text-align: center;
		margin-bottom: 0;
		padding-right: 0;
	}
	
	.seatreg-tabs-content .room-list-item {
		display: inline-block;
	}
	.seatreg-tabs-content .reg-overview-middle {
		
		float: none;
		overflow: hidden;
		width: 100%;
		padding: 20px 20px 10px 20px;

		margin: 0px;
		text-align: center;
	}
	.seatreg-tabs-content .reg-overview-top-date {
		float: none;
		clear: both;
		text-align: center;
		margin-top: 10px;
	}
	.seatreg-tabs-content .reg-overview-top-bron-notify {
		float: right;
		height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.seatreg-tabs-content .reg-overview-top-bron-notify, .seatreg-tabs-content .reg-overview-top-header, .seatreg-tabs-content .reg-overview-top-date{
		line-height: 20px;
	}
	.seatreg-tabs-content .time-block {
		display: inline-block;
		margin-bottom: 4px;
	}
	.seatreg-tabs-content .reg-link {
		width: 100%;
		word-wrap: break-word;
		word-break: break-all;
		
		
	}
	.seatreg-tabs-content .reg-overview-top-header {
		float: none;
		text-align: center;
		word-wrap:break-word;
		
		margin-top: 20px;
	}
	.seatreg-tabs-content .overview-middle-box {
		margin-right: 10px;
		display: inline-block;
		float: none;
		margin: 0 4px;
	}
	.seatreg-tabs-content .room-list-item {
		display: inline-block;
		margin-right: 20px;

	}
	.seatreg-tabs-content #alertify {
		top: 30%;
	}
	
	.seatreg-tabs-content .reg-overview-donuts {
		display: block;
		width: 100%;
		margin:0;
		text-align: center;
		float: none;
		padding: 0;
	}
	.seatreg-tabs-content .reg-overview-top-bron-notify {
		float: none;
		text-align: center;
	}
	.seatreg-tabs-content .reg-overview-top {
		padding-top: 6px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
	.seatreg-tabs-content .reg-overview-bottom {
		clear: both;
		margin-top: 20px;
	}

	.seatreg-tabs-content .stats-doughnut {
		margin:0; 
	}
	.seatreg-tabs-content .legend-block {
		text-align: left;
	}
	.seatreg-tabs-content .stats-doughnut-legend {
		margin-left: 0;
	}
 }
    
@media screen and (max-width: 776px) {
	
	.seatreg-tabs-content .reg-section-buttons {
		
		width: 25%;

	}

	.seatreg-tabs-content .btn-style, .seatreg-tabs-content .del-reg-form, .seatreg-tabs-content .del-reg, .seatreg-tabs-content .admin-btn-from {
    	width: 100%;
    	margin-bottom: 4px;
    }
    .seatreg-tabs-content .account-status {
		margin-bottom: 0;
	}
	.seatreg-tabs-content .first-reg-section .tab_container:before {
		
		margin-top: -300px; 
		height: 300px; 
		
	}

	.seatreg-tabs-content .tab_container:before {
		
		margin-top: -310px; 
		height: 310px; 
		
	}
	.seatreg-tabs-content .tab a{
		padding: 0px 0px;
	}
}

@media screen and (max-width: 900px) {
	
	.seatreg-tabs-content .first-reg-section .tab_container:before {
		
		margin-top: -330px; 
		height: 330px; 
		
	}

	.seatreg-tabs-content .tab_container:before {
		
		margin-top: -250px; 
		height: 250px; 
		
	}
	

}
@media screen and (max-width: 500px) { 
	.seatreg-tabs-content .bg-color {
		padding-top: 100px;
		
	}
	.seatreg-tabs-content .reg-section-buttons {
		font-size: 12px;
	}
	.seatreg-tabs-content .bg-color {
		
		background-color: #F2F2F2;

	}
	
	.seatreg-tabs-content .first-reg-section .tab_container:before {
		
		margin-top: -330px; 
		height: 330px; 
		
	}

	.seatreg-tabs-content .tab_container:before {
		
		margin-top: -330px; 
		height: 330px; 
		
	}
	.seatreg-tabs-content .custom-container input[type=text] {
		width: 60px;
	}
	
	
}



