.seatreg-map-builder-page {
    #legend-dialog {
        .legends-color-picker {
            display: flex;
            justify-content: center;

            .picker_done {
                display: none;
            }
        }
    }
    .legend-change-color-pic {
        display: flex;
        justify-content: center;
        
        .picker_sample {
            display: none;
        }
        .picker_done {
            display: none;
        }
    }
}