.seatreg-wp-admin {
    .activity-modal {
        &__loading {
            text-align: center;
        }
        &__logs {
            display: grid;
            grid-template-columns: 200px 1fr;
        }
    }
}