#seatreg-booking-manager {
    .bookings-file-modal{
        .date-info {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;

             .fa {
                margin-right: 8px;
             }
        }
        input {
            margin-left: 8px;
        }
        .fa-plus-circle {
            color: #61B329;
        }
        .form-fields {
            margin-bottom: 12px;  
        }
        .custom-filtering {
            cursor: pointer;
        }
        .custom-filtering-selection {
            display: none;
            margin-top: 12px;
        }
    }
}

