.seatreg-tabs-content {
    .edit-modal {
        h5 {
            margin-bottom: 0;
        }
        .edit-modal-input-wrap {
            margin-bottom: 12px;
        }
        .modal-custom {
            margin-bottom: 12px;
        }
    }
}